body {
  background-image: url(../img/background.jpeg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
}

#maincontainer {
  margin-top:125px;
  display: block;
  background-color: #fce4ec;
}

#banner {
  text-align: center;
}

#grocery-list {
  margin: 35px 0px 35px 0;
}

#primary-list {
  margin-bottom: 100px;
}

.litemoji {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

#printed-list {
  display: grid;
}


#banner-h2 {
  font-size: 3.5em;
  text-align: center;
  color: #000000;
}

#banner-h3 {
  font-size: 1.4em;
  color: #000000;
  text-align: center;
}

.item {
  float: left;
  width: 90%;
  display: inline-block;
  text-align: left;
  font-size: 2.7em;
  color: #000000;
  list-style-type: none;
  margin: 10px 0 10px 0;
}

.remove-btn {
  margin-left: 20px;
  height: 55px;
  display: inline-block;
  float: right;
}

#new-item {
  float: left;
  width: 90%;
  margin-top: 14px;
}

#submit {
  margin-left: 20px;
  height: 55px;
  display: inline-block;
}

#plus-submit {
  font-size: auto;
}
