body {
  background-image: url(../img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#maincontainer {
  background-color: white;
}

#banner {
  text-align: center;
}

#primary-list {
  margin-bottom: 100px;
}

.litemoji {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

li {
  text-align: left;
  font-size: 4em;
  color: salmon;
  list-style-type: none;
}

#printed-list {
  display: none;
}

#submit {
  text-align: right;
  float: right;
  display: inline;
}

h2 {
  font-size: 3.5em;
  text-align: center;
  color: salmon;
}

h3 {
  font-size: 1em;
  font-style: italic;
  text-align: center;
}

.testcolor {
  color: cyan;
  font-size: 5em;
}

#remove {
  float: right;
  margin-top: 30px;
}
